html {
	width: 100%;
	height: 100%;
}

body {
	min-height: 100%; 
}

.container {
	width: 100%;
	padding: 0 10px;
}

.header {
	background-color: #333;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 20px 0;
	text-align: center;
}

.nav li{
	color: #fff;
	display: inline;
	font-family: 'Raleway', 'Arial', sans-serif;
	font-weight: 600;
    font-size: 12px;
    margin-right: 25px;
    text-transform: uppercase;
}

a{
	color: #fff;
}

#asection {
	background-size: cover;
	height: 100%;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	background: url(images/Flower_opaque.JPG) no-repeat center center;
	position: absolute;
}

#topLeft {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

#topRight {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 50%;
}

#bottomLeft{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 50%;
}

#bottomRight{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

#design{
    height: 100%;
    width: 100%;
    position: absolute;
}

#research{
	position: absolute;
	height: 100%;
	width: 100%;
}

#games{
	position: absolute;
	height: 100%;
	width: 100%;
}

#photos{
	position: absolute;
	height: 100%;
	width: 100%;
}

#designLabel{
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 50px;
	font-family: 'Raleway', 'Arial', sans-serif;
	margin-bottom: 0;
	color: #ffffff;
}

#researchLabel{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 50px;
	font-family: 'Raleway', 'Arial', sans-serif;
	margin-bottom: 0;
	color: #ffffff;
}

#gamesLabel{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 50px;
	font-family: 'Raleway', 'Arial', sans-serif;
	margin-top: 0;
	color: #ffffff;
}

#photosLabel{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 50px;
	font-family: 'Raleway', 'Arial', sans-serif;
	margin-top: 0;
	color: #ffffff;
}

#background{
	margin-top: 0;
    background-color: #cccccc;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
}


#title{
	text-align: center;
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	text-shadow: 5px 5px #fff;
}

#topBar{
	position: relative;
	height: 80%;
	width: 100%;
}

#middleBar{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #cccccc;
}


#bottomBar{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #cccccc;
}

#instafeed{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
}

#explanation{
	font-family: 'Raleway', 'Arial', sans-serif;
	left: 0;
	text-align: center;
	font-size: 32px;
	width: 50%;
    position: relative;
	top: 25%;
}

#description{
	font-family: 'Raleway', 'Arial', sans-serif;
	left: 0;
	text-align: center;
	font-size: 32px;
	width: 50%;
}

#introduction{
	font-family: 'Raleway', 'Arial', sans-serif;
	float: right;
	text-align: center;
	font-size: 32px;
	width: 50%;
}

#selfie{
	height: 500px;
	width: 500px;
	position: absolute;
	right: 5%;
}

#koln{
	height: 500px;
	width: 500px;
    position: absolute;
    left: 5%;
}